* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************FORMATTAZIONE TESTO*****************/
a{
  color: #b2b7bd;
}

#black{
  color: #292929;
}

body{
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}
/***************************************/

.container{
  display: flex;
  min-height: 100px;
  /*border: 1px solid coral;*/
  padding: 10px;
}

.sinistra li, .destra li{
  list-style: none;
}

.sinistra a, .destra a{
  text-decoration: none;
}

a:hover {
  color: black;
}

.sinistra{
  width: 30%;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

#logo{
  max-height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.linea li {
  display: inline-block;
  padding: 4px;
}

.destra{
  width: 70%;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
}

.destra .with-dropdown{
  position: relative;
}

.destra .dropdown-menu{
  display: none;
  position: absolute;
  text-align: justify;
  width: 270px;
  background-color: #FFFAF0;
  top: 100%;
  right: -66px;
}

.dropdown-menu a{
  display: inline-block;
  width: 100%;
  line-height: 3rem;
}

.destra button{
  background-color: #eb008d;
  color: #ffffff;
  padding: 6px;
  border-radius: 15%;
  border: 0px;
}
